@import "../../styles/base.sass"

.tools
    background-color: $color-darck-green
    border-radius: 2rem
    margin: 1rem
    padding: .5rem 0 .5rem 1.5rem
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, .25)
    &__dropdown
        display: inline
        position: relative
        z-index: 10
        &_align
            display: inline-block
            position: absolute
            background-color: $color-darck-green
            width: 10rem
            text-align: center
            border-radius: 1rem
            left: 100%
            top: 100%
            transform: translate(-50%, 25%)
            box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, .25)
            transition: all .2s
            opacity: 0
        &_checked
            visibility: hidden
            width: 0
        &_checked:checked ~ &_align
            opacity: 1
            padding: .5rem
    &__separator
        display: inline-block
        border: none
        margin: 0 .5rem
        width: .2rem
        height: 2rem
        border-left: .2rem solid $color-darck-grey
li
    display: inline-block
    padding: .2rem .5rem
    border-radius: .3rem
    &:hover
        background-color: $color-light-grey

.active
    background-color: $color-light-green
    &:hover
        background-color: $color-light-green
