@import "../../styles/base.sass"

.color-selector
    width: 20rem
    &__color-palette
        width: 15rem
        &_item
            width: 1.5rem
            height: 1.5rem
            border-radius: 50%
            border: .1rem solid $color-light-grey
